body {
    font-size: 30px;
    text-align: center;
    background-image: url(2023-audi-r8-v10-gt-rwd-exterior.jp);
}
.cabecalho{
    background-color: aqua;
    margin: 50px;
    border-style: groove;
    padding: 67px;
}
